.navigate {
  opacity: 1;
  z-index: 800;
}

.go-pro {
  background-color: #5035ff;
  color: white;
  border-radius: 40px;
  font-weight: 600;
  font-size: 15px;
  margin-right: 0.5rem;
  padding: 0.25rem 0.75rem;
  transition: none 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition-property: background-color, border-color, color, fill, stroke,
    opacity, box-shadow, transform;
}

.go-pro:hover {
  color: white;
  --t_x: 0;
  --t_y: 0;
  --t_z: 0;
  --t_scale-x: 1;
  --t_scale-y: 1;
  --t_skew-x: 0;
  --t_skew-y: 0;
  transform: translate3d(var(--t_x), var(--t_y), var(--t_z))
    rotate(var(--t_rotate)) skewX(var(--t_skew-x)) skewY(var(--t_skew-y))
    scaleX(var(--t_scale-x)) scaleY(var(--t_scale-y)) scale(var(--t_scale));
  --t_scale: 1.05;
  --t_rotate: 1deg;
}

.item {
  color: hsl(250, 18%, 19%);
  cursor: pointer;
  transition: all 0.1s linear;
  margin-top: 0.25rem;
}

/* .item:hover {
} */
