* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Karla", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.see-all {
  padding: 0.25rem 1rem;
  font-size: 18px;
  color: #2d3748;
  border-radius: 9999px;
  background-color: #ffffff;
  transition: all 0.1s ease-out;
}

.see-all:hover {
  --t_x: 0;
  --t_z: 0;
  --t_scale: 1;
  --t_scale-x: 1;
  --t_scale-y: 1;
  --t_skew-x: 0;
  --t_skew-y: 0;
  transform: translate3d(var(--t_x), var(--t_y), var(--t_z))
    scaleX(var(--t_scale-x)) scaleY(var(--t_scale-y)) scale(var(--t_scale));
  box-shadow: 0px 2px 40px 0px rgb(0 0 0 / 30%);
  --t_y: -3px;
}

.tagline {
  font-weight: 400;
  color: hsl(250, 18%, 19%);
  font-size: 20px;
  line-height: 28px;
}

.course-card {
  cursor: pointer;
  height: 100%;
  transform: translate3d(0, 0, 0) rotate(0) skewX(0) skewY(0) scaleX(1)
    scaleY(1) scale(1);
  background: hsla(0, 0%, 100%, 100%);
  border-radius: 8px;
  padding: 0rem;
  color: hsl(250, 18%, 19%);
  z-index: 1;
  backface-visibility: hidden;
  box-shadow: 0px 2px 0px 0px hsl(0deg 0% 0% / 6%);
  transition: transform 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.course-name {
  text-shadow: 0px 2px 0px hsl(0deg 0% 100% / 70%);
  font-weight: 700;
  z-index: 10;
  color: hsl(213deg 31% 37%);
}

.avatar {
  width: 44px;
  height: 44px;
}

.shapes {
  position: absolute;
  z-index: 1;
  height: 100%;
  overflow: hidden;
  width: 100%;
}
