.vue-card1-shape1 {
  position: absolute;
  width: 52%;
  left: 56%;
  top: 71%;
  transform: translate3d(-50%, -50%, 52px) rotate(0deg) scale(var(--hs))
    scaleY(0.88);
  opacity: 0.3;
}

.vue-card1-shape2 {
  position: absolute;
  width: 42%;
  left: 57%;
  top: 57%;
  transform: translate3d(-50%, -50%, 42px) rotate(-10deg) scale(var(--hs))
    scaleY(0.82);
  opacity: 0.35;
}

.vue-card2-shape1 {
  position: absolute;
  width: 18%;
  left: 73%;
  top: 60%;
  transform: translate3d(-50%, -50%, 18px) rotate(0deg) scale(var(--hs))
    scaleY(0.84);
  opacity: 0.2;
}

.vue-card2-shape2 {
  position: absolute;
  width: 18%;
  left: 83%;
  top: 68%;
  transform: translate3d(-50%, -50%, 18px) rotate(0deg) scale(var(--hs))
    scaleY(0.84);
  opacity: 0.2;
}

.vue-card2-shape3 {
  position: absolute;
  width: 18%;
  left: 85%;
  top: 49%;
  transform: translate3d(-50%, -50%, 18px) rotate(0deg) scale(var(--hs))
    scaleY(0.84);
  opacity: 0.2;
}

.vue-card3-shape1 {
  position: absolute;
  width: 50%;
  left: 79%;
  top: 44%;
  transform: translate3d(-50%, -50%, 50px) rotate(0deg) scale(var(--hs))
    scaleY(0.91);
  opacity: 0.25;
}

.vue-card3-shape2 {
  position: absolute;
  width: 32%;
  left: 15%;
  top: 78%;
  transform: translate3d(-50%, -50%, 32px) rotate(0deg) scale(var(--hs))
    scaleY(0.61);
  opacity: 0.2;
}
.vue-card4-shape1 {
  position: absolute;
  width: 32%;
  left: 39%;
  top: 55%;
  transform: translate3d(-50%, -50%, 32px) rotate(0deg) scale(var(--hs))
    scaleY(0.61);
  opacity: 0.2;
}

.vue-card4-shape2 {
  position: absolute;
  width: 48%;
  left: 22%;
  top: 26%;
  transform: translate3d(-50%, -50%, 48px) rotate(0deg) scale(var(--hs))
    scaleY(0.64);
  opacity: 0.41;
}
.vue-card4-shape3 {
  position: absolute;
  width: 18%;
  left: 47%;
  top: 74%;
  transform: translate3d(-50%, -50%, 18px) rotate(0deg) scale(var(--hs))
    scaleY(0.84);
  opacity: 0.38;
}

.vue-card4-shape4 {
  position: absolute;
  width: 18%;
  left: 47%;
  top: 94%;
  transform: translate3d(-50%, -50%, 18px) rotate(0deg) scale(var(--hs))
    scaleY(0.84);
  opacity: 0.2;
}
